@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer components {
  .card-style {
    @apply p-4 mt-2 rounded-lg border shadow-xs transition-all duration-300;
    @apply bg-radial from-zinc-50 to-zinc-200 border-zinc-200;
    @apply hover:border-orange-500 hover:shadow-[0_0_20px_rgba(249,115,22,0.4)];
    @apply dark:bg-radial dark:from-zinc-800 dark:to-zinc-900 dark:border-zinc-800; 
  }
}

::selection {
    background-color: #c35817;
    color: white;
}